@media (max-width: 1000px) {
    .menu-icon {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        right: 22px;
        top: 20px;
    }
    
    .header-menu-list {
        display: none;
    }

    .header {
        background-size: cover;
        padding-left: 15px;
        width: 100vh;
    }

    .header-tittle {
        font-size: 1.5rem;
        margin-top:  30rem;
        width: 490px;
        line-height: 56px;
    }

    .input-box {
        display: none;
    }

    .header-input {
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    .input-button {
        width: 313px;
        height: 72px;
        border: none;
        border-radius: 5px;
        margin-bottom: 25px;
        font-size: 1.8rem;
        font-weight: 500;
    }

    .section-1-video {
        flex-direction: column-reverse;
        padding: 50px 0;
    }
}